/* Navigaation asetukset */
 /* Taustan väri */
 .navbar-custom {
     background-color: rgb(174, 152, 152) !important;
 }

 /* Brandin ja tekstin väri */
 .navbar-custom .navbar-brand,
 .navbar-custom .navbar-text {
     color: rgb(255, 255, 255);
 }

 /* Linkin väri */
 .navbar-custom .navbar-nav .nav-link {
     color: rgb(255, 255, 255);
 }

 /* Aktiivisen & hover-linkin väri */
 .navbar-custom .nav-item.nav-item:hover .nav-link {
     color: rgba(85, 81, 77, 0.8);
 }

 /* Jotta valittu sivu näkyy valintana */
 .navbar-custom .nav-link.active {
     color: rgba(85, 81, 77, 0.8) !important;
 }

 body {
     position: relative;
 }

 /* Hampurilaisvalikon väri */
 .custom-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225,225,225)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }

 /* Hampurilaisvalikon reunojen väri */
 .custom-toggler.navbar-toggler {
     border-color: rgba(0, 0, 0, 0);
 }

 /*SIVU 2*/
 /*Kortin säädöt*/
 .card-custom {
    background-color: rgb(174, 152, 152);
    color: #ffffff;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 400px;
}

/*Listan bulletit keskelle ja muuta*/
.card-custom .card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /*SIVU 3*/
 /*Pokemon sivun säädöt*/
 main {
     max-width: 400px;
     /*Leveys sivulla*/
     margin: 0 auto;
     /*Keskitys vaakasuunnassa*/
     text-align: center;
     /*Tekstit ja inputit keskitys*/
 }

 input,
 button {
     margin: 5px;
     /*Tilaa inputin ja napin*/
 }

 /*Pokemon listan säädöt*/
 .ul-custom {
     list-style: disc;
     text-align: left;
     padding-left: 20px;
     width: 100%;
     max-width: 300px;
     margin: 0 auto;
     width: fit-content;
 }

 /*SIVU 4*/
 /*Sää -kortin säädöt*/
 body {
     padding-top: 200px;
     background-color: #ffffff;
 }

 #saa {
     max-width: 400px;
     margin: 0 auto;
     background: rgb(174, 152, 152);
     color: #ffffff;
     padding: 1.5em;
     border-radius: 8px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 }

 #saa h2 {
     margin-bottom: 1em;
     font-size: 1.5em;
     text-align: center;
 }

 #saa img {
     display: block;
     margin: 0 auto 1em auto;
 }